:root {
  --clr-fg: #f9f9f9;
  --clr-bg-0: #323b43;
  --clr-bg-1: #3c434e;
  --clr-bg-2: #1a1e22;
  --clr-accent-400: #d64f5d;

  --fz-xl: 4rem;
  --fz-lg: 1.8rem;
  --fz-normal: 1rem;
  --fz-small: 0.9rem;

  --sz-lg: 6rem;
  --sz-sm: 1.6rem;

  --screen-sm: "640px"; /* or 576px */
  --screen-md: "768px"; /* or 960px */

  --ctn-width: 60rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul[role="list"] {
  list-style: none;
}

body {
  color: var(--clr-fg);
  background-color: var(--clr-bg-1);
  line-height: 1.4;
  font-size: var(--fz-normal);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: min(var(--ctn-width), calc(100% - 2rem));
  margin-inline: auto;
}

.header {
  background-color: var(--clr-bg-0);
}

section {
  padding-block: 1rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__nav--pages {
  display: grid;
  grid-template-rows: 1fr;
}

@media (max-width: 740px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__nav--pages > .nav__list {
    padding-block: 1rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__nav--social {
    display: none;
  }
  .header__nav--pages {
    grid-template-rows: 0;
  }
  .header__nav--expanded {
    grid-template-rows: 1fr;
  }
}

.header__nav {
  --gap: 0px;
  --padding: 4px 8px;
  font-size: 18px;
  overflow: hidden;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
}

.nav__list {
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.list__item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
}

.list__item:hover {
  background: var(--clr-bg-2);
}

.header__nav--social,
.hero__social {
  --padding: 4px 2px;
  --gap: 4px;
}

.header__nav--social img,
.hero__social img {
  width: var(--sz-sm);
}

.hero {
  background-image: url(./endless-constellation.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.hero__social .list__item:hover {
  filter: brightness(90%);
  background: none;
}

.hero__brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: var(--fz-xl);
}

.hero__brand img {
  width: var(--sz-lg);
}

.hero__bio {
  font-size: var(--fz-small);
}

.desc {
  background-color: var(--clr-bg-0);
}

.projects__container {
  --project-width: 400px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--project-width), 2fr));
  gap: 1rem;
}

.project {
  padding: 1rem 2rem;
  height: 10rem;
  background-color: var(--clr-accent-400);
}

.project__title {
  font-weight: bold;
  font-size: var(--fz-lg);
}

.project__desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact {
  background-color: var(--clr-bg-0);
}

.contact__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact__title {
  font-size: var(--fz-lg);
  margin-bottom: 1rem;
}

.contact__feild {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.contact__img {
  width: 20rem;
}
footer {
  text-align: center;
  background-color: var(--clr-bg-0);
}

.header__nav-btn {
  display: none;
  background: none;
  border: 0;
}

@media (max-width: 740px) {
  .header__nav-btn {
    display: block;
    cursor: pointer;
  }
}
