:root {
  --clr-fg: #f9f9f9;
  --clr-bg-0: #323b43;
  --clr-bg-1: #3c434e;
  --clr-bg-2: #1a1e22;
  --clr-accent-400: #d64f5d;

  --fz-big: 4rem;
  --fz-normal: 1.2rem;
  --fz-small: 0.9rem;

  --sz-lg: 6rem;
  --sz-sm: 1.6rem;

  --screen-sm: "640px"; /* or 576px */
  --screen-md: "768px"; /* or 960px */

  --ctn-width: 60rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul[role="list"] {
  list-style: none;
}

body {
  color: var(--clr-fg);
  background-color: var(--clr-bg-1);
  line-height: 1.4;
  font-size: var(--fz-normal);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: min(100%, calc(var(--ctn-width) - 4px));
  margin-inline: auto;
}

.header {
  background-color: var(--clr-bg-0);
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__nav {
  --gap: 0px;
  --padding: 4px 8px;
  font-size: 18px;
}

.nav__list {
  height: 100%;
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.list__item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
}

.list__item:hover {
  background: var(--clr-bg-2);
}

.header__nav--social,
.hero__social {
  --padding: 4px 2px;
  --gap: 4px;
}

.header__nav--social img,
.hero__social img {
  width: var(--sz-sm);
}

.hero {
  background-image: url(./endless-constellation.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-block: 1rem;
}

.hero__social .list__item:hover {
  filter: brightness(90%);
  background: none;
}

.hero__brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: var(--fz-big);
}

.hero__brand img {
  width: var(--sz-lg);
}

.hero__bio {
  font-size: var(--fz-small);
}
